name: Check source code quality

on:
  pull_request:
    branches:
      - main
      - 'release-*'
jobs:
  lint:
    name: Check lints
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.27.1"

      - run: flutter --version

      # Check for any formatting issues in the code.
      - name: Verify formatting
        run: dart format --set-exit-if-changed . --line-length 120
